# Programming Foundations: Object-Oriented Design 
**Instructors:** Barron Stone and Olivia Chiu Stone

All good software starts with a great design. Object-oriented design helps developers plan applications before they write a single line of code, and break down ideas into reusable and maintainable components. This course focuses on the foundational concepts, teaching them in a fun, interactive way to help you quickly develop your skills. Tag team Olivia and Barron Stone introduce you to the concepts and terms—objects, classes, abstraction, inheritance, and more—that you need to get started. They then show how to take the requirements for an app, identify use cases, and map out classes using Universal Modeling Language (UML). The final design can then be translated into code using one of the many popular object-oriented programming languages, such as Java, C#, Ruby, or Python.

# 1. Object-oriented Fundamentals

#### Some types of programming language paradigms
- Object-Oriented Design
- Procedural Programming
- Logic Programming Languages $\Rightarrow$ Tend to live in very specialized environments
    - Prolog
- Functional Programming Languages $\Rightarrow$ Tend to live in very specialized environments
    - Haskell
- Object-Oriented Programming Languages (many of the examples below support multiple paradigms, meaning you can use them in an object-oriented way or in a procedural way, etc).
    - C#
    - C++
    - Go
    - Java
    - JavaScript
    - Python
    - R
    - Ruby
    - Swift
    - VB.NET
    - many more
    
#### All objects have:
   - **Identity:** Olivia's coffee mug
   - **Attributes:** color, size, fullness
   - **Behaviors:** fill(), empty(), clean()
- Every object in a computer program is self-contained, so it has its own identity separate from other objects, its own attributes to describe its current state, and its own behaviors.

In [8]:
import numpy as np
import pandas as pd

In [45]:
data = {'n_age': [3, 14, 18, 87, 56, 91, 44, 15, 33, 12, 7, 2], 'age':[np.nan for ele in data['n_age']]}
df = pd.DataFrame.from_dict(data)

In [46]:
df

    n_age  age
0       3  NaN
1      14  NaN
2      18  NaN
3      87  NaN
4      56  NaN
5      91  NaN
6      44  NaN
7      15  NaN
8      33  NaN
9      12  NaN
10      7  NaN
11      2  NaN

In [47]:
df.dtypes

n_age      int64
age      float64
dtype: object

In [43]:
df['age'] = df['age'].astype('')

ValueError: invalid literal for int() with base 10: 'nan'

In [49]:
for i, r in df.iterrows():
    if r['n_age'] in range(0,10):
        r['age'].fillna('0s')
    #if r['n_age'] in range(0, 10):
        #r['age'].fillna('0s'), inplace = True

AttributeError: 'numpy.float64' object has no attribute 'fillna'

In [52]:
data = {'n_age': ['a', 'b', 'c', 'd', 'g', 's', 'v', 'p'], 'age':[np.nan for ele in data['n_age']]}
df = pd.DataFrame.from_dict(data)

In [55]:
df

  n_age  age
0     a  NaN
1     b  NaN
2     c  NaN
3     d  NaN
4     g  NaN
5     s  NaN
6     v  NaN
7     p  NaN

In [54]:
df.dtypes

n_age     object
age      float64
dtype: object

In [56]:
df.iloc[0,1]

nan

In [57]:
df.iloc[0,1] = '0s'

In [58]:
df.dtypes

n_age    object
age      object
dtype: object

float